#pal_expert_legend { width: 100%; }
#pal_expert_legend .widget { width: calc( 100% - 30px ); }
#pal_expert_legend .widget .tl_text_2:nth-child(1) { width: 24.5%; }
#pal_expert_legend .widget .tl_text_2:nth-child(2) { width: 74.5%; }