body #container img.preview-image {
    max-width: 250px;
    max-height: 200px;
    width: 250px;
    object-fit: contain; 
}
.tl_listing.tl_file_manager ul.level_1 > li > .tl_left { 
    display: block;
    .preview-image { object-position: left; }
}
