@media(min-width:1921px){

    #left { width: 300px; }
    #main { width: calc(100% - 300px); }

    body,
    .widget *,
    .widget>div>*,
    .chzn-container-single .chzn-single>span,
    #tl_navigation .menu_level_0 a[class^=group-] { font-size: 23px; }

    .tl_listing_container .tl_content_right img { 
        width: 25px; 
        height: 25px; 
    }

    .tl_tip { height: 1.2em; }

    .tl_box h3, .tl_tbox h3, .tl_xpl h3 { height: unset; }
    .tl_submit { height: unset; }
    .tl_checkbox_single_container { height: unset; }

    .tl_content_left { line-height: 1.2; }

}