@media(min-width:1921px){
    html { font-size: 25px; }
    :root {
        /* original --row-padding: 9px; */
        --row-padding: calc( 9/16 * 1rem);
    }
    /******************************************************** Header */
    .header_back, .header_clipboard, .header_css_import, .header_delete_all, .header_edit_all, .header_icon, .header_new, .header_new_folder, .header_rss, .header_store, .header_sync, .header_theme_import, .header_toggle {
        /* original margin-left: 15px; */
        margin-left: calc( 15/16 * 1rem);
        /* original background-size: 16px; */
        background-size: 1rem;
        /* original padding: 3px 0 3px 22px; */
        padding: calc( 3/16 * 1rem) 0 calc( 3/16 * 1rem) calc( 22/16 * 1rem);
    }
    #header { 
        /* original min-height: 40px; */
        min-height: calc( 40/16 * 1rem);
    }
    #header h1 a .app-title {
        /* original font-size: 17px; */
        font-size: calc( 17/16 * 1rem);
    }
    #header h1 a {
        /* original background-position: 10px; */
        background-position: calc( 10/16 * 1rem);
        /* original background-size: 24px; */
        background-size: calc( 24/16 * 1rem);
        /* original height: 16px; */
        height: calc( 16/16 * 1rem);
        /* original padding: 12px 12px 12px 42px; */ 
        padding: calc( 12/16 * 1rem) calc( 12/16 * 1rem) calc( 12/16 * 1rem) calc( 42/16 * 1rem);
    }
    #tmenu .profile button, #tmenu a {
        /* original padding: 13px 12px; */
        padding: calc( 13/16 * 1rem) calc( 12/16 * 1rem);
    }
    #tmenu .icon-alert, #tmenu .icon-color-scheme, #tmenu .icon-favorite, #tmenu .icon-manual {
        /* original text-indent: 28px; */
        text-indent: calc( 28/16 * 1rem);
        /* original width: 16px; */
        width: calc( 16/16 * 1rem);
        /* original margin-bottom: -2px; */
        margin-bottom: calc( -2/16 * 1rem);
        /* original background-size: 14px */
        background-size: calc( 14/16 * 1rem);
    }
    #tmenu .profile button {
        /* original background-position: right 9px top 14px; */
        background-position: right 6px top 0px;
        /* original background-size: 14px */
        background-size: calc( 14/16 * 1rem);
    }
    /******************************************************** Left */
    #left {
        /* original width: 220px; */
        width: calc( 220/16 * 1rem);
    }
    #tl_navigation [class^=menu_level_] a {
        /* original padding: 5px 33px 5px 37px; */
        padding: calc( 5/16 * 1rem) calc( 33/16 * 1rem) calc( 5/16 * 1rem) calc( 37/16 * 1rem);
    }
    #tl_navigation .menu_level_1>li.current>a {
        padding-left: calc( 33/16 * 1rem);
    }
    /******************************************************** Sonstiges */
    .tl_tip {
        /* original height: 15px; */
        height: calc( 15/16 * 1rem);
    }
    /******************************************************** Forms */
    input, select {
        /* original line-height: 17px; */
        line-height: calc( 17/16 * 1rem);
    }
    
    input.tl_checkbox {
        /* original height: 13px; */
        height: calc( 13/16 * 1rem);
        /* original width: 13px; */
        width: calc( 13/16 * 1rem);
    }
    
    fieldset:is(.tl_tbox,.tl_box)>legend>button {
        /* original background-position: 13px 10px; */
        background-position: calc( 13/16 * 1rem) calc( 10/16 * 1rem);
        /* original padding: 9px 12px 9px 28px; */
        padding: calc( 9/16 * 1rem) calc( 12/16 * 1rem) calc( 9/16 * 1rem) calc( 28/16 * 1rem);
    }
    /******************************************************** Container */
    #container { 
        max-width: 80rem; 
        margin-left: auto; 
        margin-right: auto; 
    }
    .choices__list--single .choices__item {
        /* original padding: 7px 0; */
        padding: calc( 7/16 * 1rem) 0;
    }
    .tl_text, .tl_text_2, .tl_text_3, .tl_text_4, .tl_text_interval, .tl_text_trbl, .tl_text_unit, .tl_textarea {
        /* original height: 30px; */
        height: calc( 30/16 * 1rem);
        /* original margin: 3px 0; */
        margin: calc( 3/16 * 1rem) 0;
        /* original padding: 5px 6px 6px; */
        padding: calc( 5/16 * 1rem) calc( 6/16 * 1rem) calc( 6/16 * 1rem);
    }
    .tl_checkbox_single_container>span, fieldset.tl_checkbox_container>span, fieldset.tl_radio_container>span {
        /* original column-gap: 3px; */
        column-gap: calc( 3/16 * 1rem);
    }
    .tl_box h3, .tl_tbox h3, .tl_xpl h3 {
        /* original height: 16px; */
        height: calc( 16/16 * 1rem);
        /* original padding-top: 13px; */
        padding-top: calc( 13/16 * 1rem);
    }
    .tl_mselect, .tl_select, .tl_select_column, .tl_select_interval, .tl_select_unit {
        /* original height: 30px; */
        height: calc( 30/16 * 1rem);
        /* original margin: 3px 0; */
        margin: calc( 3/16 * 1rem) 0;
        /* original padding: 5px 22px 6px 6px; */
        padding: calc( 5/16 * 1rem) calc( 22/16 * 1rem) calc( 6/16 * 1rem) calc( 6/16 * 1rem);
    
    }
    .tl_content_right button, .tl_content_right img, .tl_right button, .tl_right img, .tl_right_nowrap button, .tl_right_nowrap img {
        /* original height: 16px; */
        height: calc( 16/16 * 1rem);
        /* original width: 16px; */
        width: calc( 16/16 * 1rem);
    }
    .tl_submit {
        /* original height: 30px; */
        height: calc( 30/16 * 1rem);
        /* original padding: 7px 12px; */
        padding: calc( 7/16 * 1rem) calc( 12/16 * 1rem);
    }
}
